# Alguns arquivos finalizados com ~ ja foram commitados. HEAD feature1, segundo commit insere o arquivo .gitignore

*~ # esses arquivos possivelmente são criados pelo editor vim cada vez que se abre arquivos. 
